.App {
	background-color: #000;
	min-height: 100vh;
}

.Grid {
	height: 80vh;
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
}

.Cell {
	min-width: 450px;
	flex-grow: 1;
	position: relative;
}

.Tag {
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	margin-inline: auto;
	width: fit-content;
	padding: 4px 8px;
	border-radius: 6px;
	background-color: #fff;
	font-size: 1.25rem;
}

.ColorHistory {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 4px;
	margin-top: 24px;
}

.ColorHistoryCell {
	width: 24px;
	height: 24px;
	border-radius: 1000px;
	border: 2px solid #fff;
}
